* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --chevron-size: 40px;
    --chevron-color: purple;
}

.banner {
    position: relative;
}
.slider {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 600px;
    overflow: hidden;
}

.slide-container {
    min-width: 100%;
    border: 5px solid blue;
    position: relative;
}

.slide-container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6901960784);
    padding: 20px;
    color: white;
    border-radius: 8px;
}

.banner img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: var(--chevron-size);
    padding: 15px;
    color: var(--chevron-color);
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
    text-decoration: none;
    opacity: 0.6;
}

#next {
    right: 0;
}
